---
import Projects from "./sections/Projects.astro";
import type { CollectionEntry } from "astro:content";
import Skills from "./sections/Skills.astro";
import Experience from "./sections/Experience.astro";
import Education from "./sections/Education.astro";
import Hello from "./sections/Hello.astro";

interface Props {
  className?: string;
  projects?: CollectionEntry<"project">[];
  skills?: CollectionEntry<"skill">[];
  experience?: CollectionEntry<"experience">[];
  universities?: CollectionEntry<"university">[];
  certifications?: CollectionEntry<"certification">[];
}

const {
  className,
  projects,
  skills,
  experience,
  certifications,
  universities,
} = Astro.props as Props;
---

<section
  transition:name="transition"
  transition:animate="fade"
  class={`${className} px-4 space-y-20 pb-20`}
>
  <Hello />
  <Experience filterExperience={experience} />
  <Projects filteredProjects={projects} filteredSkills={skills} />
  <Skills skills={skills} />
  <Education universities={universities} certifications={certifications} />
</section>
